# Working with dataframes

In [6]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [1]:
mtcars[1,2] ##remember slicing vectors??

[1] 6

In [ ]:
nrow(mtcars)
ncol(mtcars)

# Slicing

In [2]:
mtcars[20,] ##rows, columns

               mpg  cyl disp hp drat wt    qsec vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.9 1  1  4    1

In [3]:
mtcars[c(3,4,7),]

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Datsun 710     22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Duster 360     14.3 8   360  245 3.21 3.570 15.84 0  0  3    4

In [4]:
mtcars[,10]

 [1] 4 4 4 3 3 3 3 4 4 4 4 3 3 3 3 3 3 4 4 4 3 3 3 3 3 4 5 5 5 5 5 4

In [7]:
mtcars$gear

 [1] 4 4 4 3 3 3 3 4 4 4 4 3 3 3 3 3 3 4 4 4 3 3 3 3 3 4 5 5 5 5 5 4

In [12]:
gear = mtcars$gear
gear

 [1] 4 4 4 3 3 3 3 4 4 4 4 3 3 3 3 3 3 4 4 4 3 3 3 3 3 4 5 5 5 5 5 4

## Extract all cars with automatic transmission (column am)

In [13]:
L = mtcars$am == 0
L

 [1] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[13]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE
[25]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [14]:
mtcars[L,]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

## Mileage of cars with automatic transmission

In [15]:
mtcars[L,]$mpg

 [1] 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4 10.4 14.7 21.5
[16] 15.5 15.2 13.3 19.2

# Subsetting

In [17]:
mtcars_mpg3 <-subset(mtcars, mpg>20)
mtcars_mpg3

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [20]:
iris_setosa<-subset(iris, Species =="setosa")
iris_setosa

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa
11 5.4          3.7         1.5          0.2         setosa
12 4.8          3.4         1.6          0.2         setosa
13 4.8          3.0         1.4          0.1         setosa
14 4.3          3.0         1.1          0.1         setosa
15 5.8          4.0         1.2          0.2         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
21 5.4          3.4         1.7          0.2         setosa
22 5.1          3.7         1.5          0.4         setosa
23 4.6          3.6         1.0          0.2         setosa
24 5.1          3.3         1.7          0.5         setosa
25 4.8          3.4         1.9          0.2         setosa
26 5.0          3.0         1.6          0.2         setosa
27 5.0          3.4         1.6          0.4         setosa
28 5.2          3.5         1.5          0.2         setosa
29 5.2          3.4         1.4          0.2         setosa
30 4.7          3.2         1.6          0.2         setosa
31 4.8          3.1         1.6          0.2         setosa
32 5.4          3.4         1.5          0.4         setosa
33 5.2          4.1         1.5          0.1         setosa
34 5.5          4.2         1.4          0.2         setosa
35 4.9          3.1         1.5          0.2         setosa
36 5.0          3.2         1.2          0.2         setosa
37 5.5          3.5         1.3          0.2         setosa
38 4.9          3.6         1.4          0.1         setosa
39 4.4          3.0         1.3          0.2         setosa
40 5.1          3.4         1.5          0.2         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
43 4.4          3.2         1.3          0.2         setosa
44 5.0          3.5         1.6          0.6         setosa
45 5.1          3.8         1.9          0.4         setosa
46 4.8          3.0         1.4          0.3         setosa
47 5.1          3.8         1.6          0.2         setosa
48 4.6          3.2         1.4          0.2         setosa
49 5.3          3.7         1.5          0.2         setosa
50 5.0          3.3         1.4          0.2         setosa

In [21]:
iris_large_setosa<-subset(iris, Species =="setosa" & Sepal.Length > 5)
iris_large_setosa

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
11 5.4          3.7         1.5          0.2         setosa
15 5.8          4.0         1.2          0.2         setosa
16 5.7          4.4         1.5          0.4         setosa
17 5.4          3.9         1.3          0.4         setosa
18 5.1          3.5         1.4          0.3         setosa
19 5.7          3.8         1.7          0.3         setosa
20 5.1          3.8         1.5          0.3         setosa
21 5.4          3.4         1.7          0.2         setosa
22 5.1          3.7         1.5          0.4         setosa
24 5.1          3.3         1.7          0.5         setosa
28 5.2          3.5         1.5          0.2         setosa
29 5.2          3.4         1.4          0.2         setosa
32 5.4          3.4         1.5          0.4         setosa
33 5.2          4.1         1.5          0.1         setosa
34 5.5          4.2         1.4          0.2         setosa
37 5.5          3.5         1.3          0.2         setosa
40 5.1          3.4         1.5          0.2         setosa
45 5.1          3.8         1.9          0.4         setosa
47 5.1          3.8         1.6          0.2         setosa
49 5.3          3.7         1.5          0.2         setosa

In [27]:
iris_small_setosa = iris[which(iris$Species == "setosa" & iris$Sepal.Length <= 5),]
iris_small_setosa

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa
12 4.8          3.4         1.6          0.2         setosa
13 4.8          3.0         1.4          0.1         setosa
14 4.3          3.0         1.1          0.1         setosa
23 4.6          3.6         1.0          0.2         setosa
25 4.8          3.4         1.9          0.2         setosa
26 5.0          3.0         1.6          0.2         setosa
27 5.0          3.4         1.6          0.4         setosa
30 4.7          3.2         1.6          0.2         setosa
31 4.8          3.1         1.6          0.2         setosa
35 4.9          3.1         1.5          0.2         setosa
36 5.0          3.2         1.2          0.2         setosa
38 4.9          3.6         1.4          0.1         setosa
39 4.4          3.0         1.3          0.2         setosa
41 5.0          3.5         1.3          0.3         setosa
42 4.5          2.3         1.3          0.3         setosa
43 4.4          3.2         1.3          0.2         setosa
44 5.0          3.5         1.6          0.6         setosa
46 4.8          3.0         1.4          0.3         setosa
48 4.6          3.2         1.4          0.2         setosa
50 5.0          3.3         1.4          0.2         setosa

## Subset all versicolor with a Sepal.Width between 3.0 and 3.5
#### for more on logical operators see [https://www.tutorialspoint.com/r/r_operators.htm](https://www.tutorialspoint.com/r/r_operators.htm)

In [ ]:
##subset all versicolor with a Sepal.Width between 3.0 and 3.5

## How to get help
### There is an extensive built in help in R
>?mean.  
   help.start().  
   example("mean").